.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
  background-image: url(images/footer-background.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;

  > img {
    margin: 0.5rem auto;
    display: block;
  }

  .site-info {
    width: 75%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .contact {
      flex: 1;
      text-align: left
    }
    
    .links {
      flex: 2;
      text-align: center;
      margin-top: 1rem;

      .link_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        div {
          flex: 1;
          padding: 0 0.25rem;
          display: flex;
          align-items: center;
        }
      }
    }

    .social {
      flex: 1;
      text-align: right;
    }

    @media (max-width: 1200px) {
      .links {
        order: -1;
        flex: 0 2 100%;
      }
    }

    @media (max-width: 670px) {
      .contact,
      .social {
        flex-basis: 100%;
        text-align: center;
        @include font-size(1.2);
      }

      .contact {
        order: 1;
      }
    }
  }

  @media (max-width: 680px) {
    .link_wrapper div {
      flex-basis: 50% !important;
    }
  }
}

.sub_footer {
  display: flex;
  width: 75%;
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem 0 0; 

  div {
    flex: 1;
    margin: auto;
    color: #fff;

    a {
      color: #d51b5c;
    }

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;

    div {
      text-align: center;
    }
  }
}

@import "no-sidebar";
