@font-face {
    font-family: 'flavors';
    src: url('fonts/flavors-regular-webfont.woff2') format('woff2'),
         url('fonts/flavors-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: 'Glegoo', serif;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";
