header {
  background-image: url('./images/header-background-oval.png');
  background-size: cover;
  background-position: center bottom;
  height: 425px;
  position: relative;
  z-index: 100;
}

.logo {
  text-align: center;
  position: relative;
}

.hero_image {
  background-size: cover;
  background-position: center center;
  margin: 135px auto auto auto;
  width: 90%;
  height: 450px;
  border-radius: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
}
