.main-navigation {
	clear: both;
	width: 75%;
  margin: 1.5rem auto auto auto;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
    text-align: center;
    position: relative;

    & + li:before {
      content: '';
      background-color: #fff;
      width: 2px;
      height: 2.5rem;
      position: absolute;
      top: calc(100% - 2.5rem);
      left: 0;
    }

    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: #fff;
      @include font-size(1.5);
      -webkit-transition: color 50ms linear;
          -ms-transition: color 50ms linear;
              transition: color 50ms linear;

      &::before {
        content:url('images/viga-blue.png');
        margin: auto calc(50% - 56px) auto auto;
      }

      &:hover::before {
        content:url('images/viga-hover-yellow.png');
      }
    }

    &:last-child a {
      border-right: unset;
    }

		&:hover > a,
		&.focus > a {
      color: #f8ac40;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

@media (max-width: 1200px) {
  .main-navigation {
    width: 90%;
  }
}

@media (max-width: 820px) {
  .main-navigation {
    li {
      a:before {
        display: none;
      }
    }
  }
}

.mobile-toggle {
  display: none;
  color: #ffefdf;
  text-shadow: 2px 2px 5px #000;
  @include font-size(4);
}

#mobile-navigation {
  display: none;
  background-color: #284b53cc;
  position: fixed;
  height: 100%;
  z-index: 110;
  top: 0;
  left: -300px;
  padding-top: 1.5rem;
}

@media (max-width: 655px) {
  .main-navigation {
    display: none;
  }

  .mobile-toggle {
    display: block;
    position: fixed;
    top: 0;
    left: 3px;
    z-index: 120;
  }

  #mobile-navigation {
    display: block;

    ul {
      list-style-type: none;
      padding-right: 2rem;
      @include font-size(1.5);
      z-index: 110;

      li {
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
    display: flex;

    li {
      flex: 1;
    }
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
