.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.entry-content {
  padding: 0 3rem;
  z-index: 0;
  position: relative;

  @media (max-width: 450px) {
    padding: 0 0.75rem;
  }
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.wpautoterms-footer {
  display: none;
}

.catering {
  position: relative;
  font-family: "flavors";
  font-weight: 400;
  @include font-size(1.75);
  color: #fff;
  filter: drop-shadow(5px 5px #75bc1e);
  margin-top: 33px;

  a {
    color: #fff;
    text-decoration: none;
  }

  img {
    position: absolute;
    z-index: 100;
    width: 90px;
    top: -33px;
    left: 0;
  }

  span {
    display: block;
    @include font-size(1.5);

    &:last-child {
      font-family: 'Glegoo', serif;
      padding-top: 0;
      @include font-size(1);
    }
  }

  .container {
    clip-path: polygon(3.03% 132px, 96.54% 140px, 96% 0px, 10.79% 14px);
    height: 150px;
    transform: rotate(-3deg);
    margin-right: 84px;
    background-color: #284b53;
    line-height: 2rem;
    padding: 1.5rem 3.5rem 1.5rem 1rem;
    position: relative;
    z-index: 100;
    text-align: right;
  }
}

#content {
  background-color: #f7dec5;
  width: 75%;
  max-width: 1200px;
  margin: -200px auto 1rem;
  padding-bottom: 1rem;

  @media (max-width: 1600px) {
    width: 85%;
  }

  @media (max-width: 1390px) {
    width: 95%;
  }

  .page_title {
    clip-path: polygon(33% 77px, 69% 84px, 70% 0px, 31% 9px);
    background-color: #76bc21;
    margin: auto;
    color: #fff;
    text-align: center;
    height: 90px;
    position: relative;
    z-index: 90;
    margin-top: -4rem;

    h1 {
      padding: 1rem;
      text-shadow: 0 0 2px #000;
      @include font-size(2.5);
    }

    @media (max-width: 1140px) {
      clip-path: polygon(12% 77px, 90% 84px, 92% 0px, 9% 9px);

      h1 {
        @include font-size(1.9);
      }
    }
  }

  .page_title_shadow {
    display: block;
    content: "";
    margin-top:-85px;
    margin-left: -8px;
    height: 90px;
    clip-path: polygon(33% 77px, 69% 84px, 70% 0px, 31% 9px);
    background-color: #000;

    @media (max-width: 1140px) {
      clip-path: polygon(12% 77px, 90% 84px, 92% 0px, 9% 9px);
    }
  }
}

.home {
  .entry-content {
    text-align: center;
    @include font-size(1.25);

    @media (max-width: 850px) {
      width: 90%;
    }
  }

  .extra_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    > div {
      flex: 1;
      position: relative;
      margin-bottom: 3rem;

      @media (max-width: 1240px) {
        flex-basis: 50%;
      }

      @media (max-width: 850px) {
        flex-basis: 100%;
      }

      a {
        color: #fff;
        position: relative;
        z-index: 100;
        @include font-size(1.75);

        img {
          clip-path: url(#extra_links_path);
          width: 280px;
          height: 275px;
          position: relative;
          margin-bottom: -1rem;
        }
      }

      svg {
        position: absolute;
        top: -8px;
        left: calc(50% - 156px);
        right: 40px;
        width: 260px;
      }
    }
  }

  .promotions {
    > div {
      position: relative;
      color: #fff;
      font-family: "flavors";
      @include font-size(2);

      a {
        font-family: 'Glegoo', serif;
        @include font-size(1.5);
        color: #fff;
        text-decoration: none;
      }

      img {
        z-index: 110;
        position: relative;
      }

      &:nth-child(1) {
        float: left;

        .container,
        .shadow {
          clip-path: polygon(0% 145px, 99% 105px, 95% 0px, 3% 9px);
          height: 150px;
          transform: rotate(-2deg);
        }

        .container {
          background-color: #d51b5c;
          padding: 1.5rem 1.5rem 1.5rem 4rem;
          line-height: 2rem;
          position: relative;
          z-index: 100;
          margin-left: 80px;
          margin-top: -127px;

          @media (max-width: 470px) {
            @include font-size(1.1);
          }
        }

        .shadow {
          background-color: #284b53;
          margin-top: -143px;
          margin-left: 74px;
        }
      }

      &:nth-child(2) {
        float: right;
        font-family: "flavors";
        @include font-size(2);

        img {
          position: absolute;
          top: 0;
          right: 0;
        }

        span {
          display: block;
        }

        .container,
        .shadow {
          clip-path: polygon(0% 130px, 100% 150px, 96% 0px, 3% 9px);
          height: 150px;
          width: 455px;
          transform: rotate(3deg);
          margin-right: 84px;
        }

        .container {
          background-color: #284b53;
          line-height: 2rem;
          padding: 1.5rem 3.5rem 1.5rem 1rem;
          position: relative;
          z-index: 100;
          text-align: right;

          @media (max-width: 470px) {
            @include font-size(1.1);
          }
        }

        .shadow {
          background-color: #75bc1e;
          top: 5px;
          left: 5px;
          position: absolute;
        }
      }
    }
  }
}

#menu {
  .entry-content {
    column-count: 2;
    color: #284b53;

    @media (max-width: 870px) {
      column-count: 1;
    }

    div {
      display: inline-block;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      width: 100%;
    }

    h1 {
      font-family: "flavors";
      text-align: center;
    }

    h2 {
      margin: 0;
    }

    p {
      margin: 0 0 0.5rem;
    }

    ul {
      margin-left: 0;
      list-style-type: none;
    }
  }
}

#contact {
  .entry-content {
    display: flex;

    h2 {
      color: #284b53;
      @include font-size(2);
      font-weight: 400;
      font-family: "flavors";
      line-height: 2rem;
      margin-bottom: 0.25rem;
    }

    p {
      margin-top: 0;
    }

    > div {
      flex: 1;

      &:first-child {
        padding: 3rem 2rem 0;
      }

      &:last-child {
        .contact_title {
          position: relative;
          margin-bottom: -4rem;

          h2 {
            color: #fff;
            text-align: center;
            padding: 1.5rem;
          }

          .container,
          .shadow {
            clip-path: polygon(8.55% 89px, 93.78% 72px, 91.22% 9px, 11.16% 1px);
            background-color: #284b53;
            height: 7rem;
            width: 100%;
          }

          .container {
            position: relative;
            z-index:100;
          }

          .shadow {
            position: absolute;
            top: 6px;
            left: -6px;
          }
        }

        form {
          background-color: #284b5380;
          border-radius: 0.75rem;
          padding: 4rem 1.5rem 1.5rem;

          p:last-of-type {
            margin-bottom: 0;
            filter: drop-shadow(3px 3px 0 #284b53);
          }

          input,
          textarea {
            background-color: #f7dec5;
            width: 100%;
            border-radius: 0.75rem;
            padding: 1rem;
          }

          label {
            color: #f7dec5;
          }

          input[type="submit"] {
            position: absolute;
            @include font-size(2.5);
            top: -8px;
            font-family: "flavors";
            padding: 1.5rem 0;
            background-color: #d91b5c;
            color: #fff;
            clip-path: polygon(25.69% 74px, 75.23% 84px, 73.47% 3px, 23.26% 11px);
          }
        }
      }
    }
  }

  @media (max-width: 1100px) {
    .entry-content {
      flex-direction: column;

      > div:last-child {
        order: -1;
      }
    }
  }
}
